body {
    font-family: Arial;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

#closeModal {
    float: right;
    cursor: pointer;
    font-size: 20px;
}