.container {
    display: grid;
    grid-template-columns: 1fr; /*1 column by default*/
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
} /*When screen width is 768px or more, the layout changes to two equal columns using 1fr 1fr*/

@media (min-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
} /*When screen width is 1024px or more, the layout changes to three equal columns using 1fr 1fr 1fr*/